/*reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* normalize css */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --brand-backcolor1: #fff;
  --brand-backcolor2: #f5f4fa;
  --brand-backcolor3: #2f303a;
  --brand-color1: #212121;
  --brand-color2: #757575;
  --brand-color3: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-device-width: 480px), screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.page-header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .menu-container {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-container.js-menu-container {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.menu-container.js-menu-container.is-open {
  opacity: 1;
  pointer-events: inherit;
  visibility: visible;
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
  text-decoration: none;
}
.logo__onwhite {
  color: #000000;
}
.logo__onblack {
  color: #fff;
}
@media screen and (min-width: 1199px) {
  .logo {
    font-size: 24px;
  }
}

.navigation-box {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .navigation-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .navigation-box {
    margin-top: 0px;
    margin-bottom: 1px;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .top-contacts {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover .mobile-menu__icon-menu, .menu-toggle:focus .mobile-menu__icon-menu, .menu-toggle:hover .mobile-menu__icon-close, .menu-toggle:focus .mobile-menu__icon-close {
  fill: #2196F3;
}
@media screen and (min-device-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .menu-container {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: #2196F3;
}

.mobile-menu li {
  margin-bottom: 32px;
}
.mobile-menu li:last-child {
  margin-bottom: 0px;
}

.mobile-menu__icon-menu, .mobile-menu__icon-close {
  fill: #212121;
}

.mobile-top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: auto;
}
.mobile-top-contacts li:last-child {
  margin-bottom: 32px;
}

@media screen and (max-device-width: 479px), screen and (max-width: 479px) {
  .mobile-top-contacts__icon {
    display: none;
  }
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .mobile-top-contacts__icon {
    display: none;
  }
}

.mobile-top-contacts__text-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-top-contacts__text-email {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.social-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.social-top__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.social-top__item:first-child {
  padding-left: 0px;
}
.social-top__item:last-child {
  border-right: none;
}

.social-top__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 93px;
}
@media screen and (min-device-width: 767px), screen and (min-width: 767px) {
  .top-nav {
    margin-left: 88px;
  }
}
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .top-nav {
    display: none;
  }
}

.top-nav__item {
  margin-left: 50px;
  list-style-type: none;
}
.top-nav__item:first-child {
  margin-left: 0px;
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .top-nav__item {
    margin-left: 45px;
  }
}

.top-nav__text {
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: var(--brand-color1);
  position: relative;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.top-nav__text:hover, .top-nav__text:focus {
  color: var(--brand-color3);
}

.current {
  color: var(--brand-color3);
}
.current:after {
  content: "";
  display: block;
  position: absolute;
  background: #2196f3;
  height: 12px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}

.top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 90px;
}
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .top-contacts {
    display: none;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .top-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 315px;
  }
}

@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .top-contacts__item:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1199px), screen and (min-width: 768px) and (max-width: 1199px) {
  .top-contacts__item:first-child {
    margin-bottom: 10px;
  }
}

.top-contacts__icon-envelope {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .top-contacts__icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.top-contacts__icon-smartphone {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .top-contacts__icon-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.top-contacts__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: left;
  color: var(--brand-color2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.top-contacts__text:hover, .top-contacts__text:focus {
  color: var(--brand-color3);
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .top-contacts__text {
    font-size: 12px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section {
  background-color: var(--brand-backcolor3);
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-480-400-1x.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-480-400-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-480-400-2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-480-400-2x.jpg");
  }
}

.hero-section__header {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-backcolor1);
  max-width: 696px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-section__button {
  display: block;
  margin: 0 auto;
  font-family: "roboto";
  background-color: var(--brand-color3);
  border-style: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  height: 50px;
  width: 216px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: #188ce8;
  border-radius: 4px;
  border-color: #188ce8;
  color: var(--brand-backcolor1);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .hero-section {
    padding-top: 139px;
    padding-bottom: 139px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-768-400-1x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-768-400-1x.jpg");
  }
}
@media screen and (min-device-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-width: 768px) and (min-resolution: 192dpi), screen and (min-device-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-768-400-2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-768-400-2x.jpg");
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-1600-600-1x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-1600-600-1x.jpg");
  }
}
@media screen and (min-device-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-width: 1200px) and (min-resolution: 192dpi), screen and (min-device-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-img-1600-600-2x.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-img-1600-600-2x.jpg");
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .hero-section__header {
    font-size: 44px;
    line-height: 60px;
  }
}
.features-block {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.features-list__item {
  list-style-type: none;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  vertical-align: top;
  width: auto;
}

.features-list__iconwrap {
  background-color: #f5f4fa;
  border-radius: 5px;
  padding: 25px 102px 25px 102px;
}

.features-list__header {
  color: var(--brand-color1);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .features-list__header {
    text-align: left;
  }
}

.features-list__text {
  color: var(--brand-color2);
  line-height: 1.71;
  margin-top: 10px;
  text-align: left;
}

@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features-list__item {
    max-width: 354px;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features-list__item {
    max-width: 270px;
  }
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .features-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.wwd {
  display: none;
}

@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .wwd {
    display: block;
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 94px;
  }
  .wwd__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .wwd__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 50px;
  }
  .wwd__item {
    display: inline-block;
    margin: auto;
    margin-right: 30px;
    position: relative;
    text-align: center;
  }
  .wwd__item:last-child {
    margin-right: 0px;
  }
  .wwd__itemoverlay {
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color: #fff;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 27px;
    text-transform: uppercase;
  }
}
.about {
  text-align: center;
  background: var(--brand-backcolor2);
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .about {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.about__list {
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .about__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .about__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .about__list {
    margin-top: 30px;
  }
}

.about__item {
  width: auto;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.about__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .about__header {
    font-size: 28px;
  }
}

.about__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.about__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color2);
  margin-top: 10px;
}

.icons-sm__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: none;
  color: #afb1b8;
  padding: 12px;
  margin: 0px;
  -webkit-transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.icons-sm__link:hover, .icons-sm__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  color: white;
}

.icons-sm__icon {
  fill: currentColor;
}

.icons-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0;
  gap: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.clients__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .clients__header {
    font-size: 28px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .clients__list {
    margin-top: 30px;
  }
}

.clients__link {
  padding: 16px 32px 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
    margin-top: 50px;
  }
}
@media screen and (max-device-width: 767px), screen and (min-width: 767px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (max-device-width: 1199px), screen and (min-width: 1199px) {
  .clients__item {
    width: 226px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.modal {
  position: absolute;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  cursor: pointer;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}

@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .modal {
    height: 609px;
    max-width: 450px;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.form-callback {
  margin-left: 40px;
  margin-right: 40px;
}

.form-callback__group p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-callback__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

.form-callback__item {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: auto;
  margin-top: 4px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-callback__item:focus, .form-callback__item:hover {
  border: 1px solid #2196f3;
}

.form-callback__checkbox {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy-link {
  color: #2196f3;
}

.name,
.phone,
.email {
  padding-left: 42px;
}

.form-callback__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-callback__item:focus ~ .form-callback__icon, .form-callback__item:hover ~ .form-callback__icon {
  fill: #2196f3;
}

.form-text {
  height: 120px;
}

.form-button {
  margin: 0 auto;
  display: block;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-style: none;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.form-checkbox {
  margin-right: 8.38px;
}

@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .form-callback__checkbox {
    font-size: 12px;
  }
}
.footer {
  background-color: var(--brand-backcolor3);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adr-items {
  width: 100%;
  text-align: center;
}

.contact-list {
  margin-top: 20px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-list__item {
  margin-top: 9px;
}
.contact-list__item:first-child {
  margin-top: 0px;
}

.contact-list__adr {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--brand-backcolor1);
}

.footer-list__mail {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list__tel {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.connect-us {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 0px;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

.connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connect-list__link {
  fill: white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  margin: 0px;
  -webkit-transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-list__link:hover, .connect-list__link:focus {
  background-color: #2196f3;
}

.mailing-list {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.mailing-list__header {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-align: center;
}

.mailing-list__email {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mailing-list__input {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  margin-right: 8px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-button {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-style: none;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  margin-top: 20px;
}

.subscribe-icon {
  margin-left: 10px;
  vertical-align: middle;
}

address {
  margin-top: 20px;
}

@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .footer-raw {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .adr-items {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .connect-us {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0px;
  }
  .mailing-list__input {
    width: 450px;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .footer-raw {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .adr-items {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
  }
  .connect-us {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0px;
    text-align: left;
  }
  .mailing-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0px;
  }
  .mailing-list__email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mailing-list__input {
    width: 358px;
  }
  .subscribe-button {
    margin-top: 0px;
  }
  .mailing-list__header {
    text-align: start;
  }
}
.project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 94px;
}
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .project-nav {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
    row-gap: 15px;
  }
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .project-nav {
    margin-top: 60px;
  }
}

.project-nav__item {
  margin-right: 8px;
}
.project-nav__item:last-child {
  margin-right: 0px;
}

.project-nav__button {
  background-color: var(--brand-backcolor2);
  border-radius: 4px;
  border-color: var(--brand-backcolor1);
  border: none;
  color: var(--brand-color1);
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px 0px var(--brand-backcolor1);
          box-shadow: 0px 0px 0px 0px var(--brand-backcolor1);
  cursor: pointer;
  font-family: "roboto";
  -webkit-transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1) color, 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1) color, 250ms cubic-bezier(0.4, 0, 0.2, 1), 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1) color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1) color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}
.project-nav__button:hover, .project-nav__button:focus {
  background-color: var(--brand-color3);
  border-radius: 4px;
  border-color: var(--brand-color3);
  color: var(--brand-backcolor1);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.portfolio-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-list__header {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--brand-color2);
  margin-top: 4px;
}

.portfolio-list__headtext {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list__item {
  max-width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
  cursor: pointer;
}
@media screen and (max-device-width: 1199px), screen and (max-width: 1199px) {
  .portfolio-list__item {
    max-width: 354px;
  }
}
@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .portfolio-list__item {
    max-width: 450px;
  }
}

.portfolio-list__image {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-list__overlay-block {
  overflow: hidden;
  position: relative;
  max-width: 370px;
}

.portfolio-list__overlay-item {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(33, 150, 243, 0.8980392157);
  color: #f1f1f1;
  width: 100%;
  height: 294px;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px;
}
.portfolio-list__item:hover .portfolio-list__overlay-item {
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

a.portfolio-list__link {
  text-decoration: none;
  color: #212121;
}/*# sourceMappingURL=main.css.map */