// colors
$color-1: #fff;
$color-2: #000000;
$color-background: #f5f4fa;
$color-footer: #2f303a;
$color-text: #212121;
$color-text-1: #757575;
$color-brand: #2196f3;
$color-icon: #afb1b8;

// fonts
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway";
